@import "tailwindcss";

@theme {
  --font-mono: "Fira Code", "JetBrains Mono", monospace;
  --font-sans: "Inter", system-ui, sans-serif;

  --color-editor-bg: #09090b;       /* Zinc 950 */
  --color-editor-sidebar: #18181b;  /* Zinc 900 */
  --color-editor-border: #27272a;   /* Zinc 800 */
  --color-editor-fg: #e4e4e7;       /* Zinc 200 */
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: var(--color-editor-bg);
  color: var(--color-editor-fg);
}